body {
  min-width: 1152px;
}

header {
  position: relative;
}

.logo {
  position: absolute;
  top: 20px;
  left: 60px;
  z-index: 10;
}

.menu {
  display: flex;
  justify-content: flex-end;
  padding: 40px;
}

.menu li {
  margin-right: 20px;
  font-weight: bold;
}
/* ここから */
.top {
  position: relative;
  width: 1024px;
  margin: 0 auto;
}

.v_pc {
  margin-bottom: 10px;
}

.v_t_pc {
  position: absolute;
  right: -60px;
  top: 236px;
}

.top p {
  font-size: 24px;
  margin: 0 0 20px -60px;
}




/*108まで*/



































































/*ここまで*/
footer {
	height: 150px;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-text {
	color: #fff;
	font-size: 15px;
}