.menu {
  display: flex;
  justify-content: flex-end;
  padding: 40px;
}

.menu li {
  margin-right: 20px;
  font-weight: bold;
}
/* ここから */

































































































/*ここまで*/
footer {
	height: 150px;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-text {
	color: #fff;
	font-size: 15px;
}
