.menu {
  display: flex;
  justify-content: flex-end;
}




















footer {
	height: 150px;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-text {
	color: #fff;
	font-size: 15px;
}